* {
  box-sizing: border-box;
}
body {
  font-family: "Avenir Next Cyr W00 Demi",Arial,sans-serif;
  background-color: #f6f6f6;
  margin: 0;  
  padding: 0;
}



/* #47d7ac */
/* #ffcd00 */

.header {
  height: 64px;
  background-color: white;
  margin: 0;
  padding: 0;
  border: 1px solid white;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.logo {
  padding-left: 55px;
}

.container_instructions {
  width: 895px;
  background-color: white;
  margin: auto;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.yellow_box h4 {
  padding: 15px;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  letter-spacing: 1.5px;
  color: #2d2926;
  background-color: #ffcd00;
}

.yellow_box p {
  padding: 15px;
}

.container_card {
  width: 930px;  
  margin: auto;
  padding: 0;
  display: flex;
	flex-flow: row wrap;
  justify-content: center; 
}

.card {
  background-color: white;
  width: 436px;
  height: 436px;
  border-radius: 4px;
  margin: 10px;
  /* box-shadow: inset 0 0 0 5px  #ffcd00; */
}

.card_selected {
  box-shadow: inset 0 0 0 5px  #ffcd00;
}

.card img {
  border-radius: 4px 4px 0px 0px;
}

.recipe_details {
  text-align: left;
  padding-left: 12px;
  /* font-size: calc(3px + 2vmin); */
}

.recipe_type {
  /* font-size: calc(2px + 2vmin); */
  color: #28b88d;
  font-size: .75rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  line-height: 1;
  font-weight: bold;
}

.recipe_title {
  font-size: 20px;
  color: #2d2926;
  font-weight: 500;
  margin: 0;
}

.recipe_subtitle {
  color: rgb(107 114 128);
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin: 2px;
}

.recipe_labels {
	gap: 9px;
	justify-content: flex-start;
	flex-wrap: wrap;
	display: flex;
	margin-top: 8px;
}

.recipe_label {
	color: rgb(75 85 99 );
	text-transform: uppercase;
	font-weight: 500;
	font-size: 10px;
	padding: 0.25rem 0.625rem 0.25rem 0.25rem;
	background-color: rgb(243 244 246);
	align-items: center;
	display: inline-flex;
}

.btn_continue {
  padding: 15px;
  /* margin-bottom: 0; */
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  border-radius: 4px;
  letter-spacing: 1.5px;
  color: #2d2926;
  background-color: #ffcd00;
  width: 200px;
  cursor: pointer;
}

.display_opposite {
  display: flex;
  justify-content: space-between;
}

.btn_center {
  display: flex;
  justify-content: center;
}

.user_details_container {
  /* display: flex;
  justify-content: center; */
  width: 895px;

}

input {
  width: 100%;
  padding: 10px 10px;
  font-size: 16px;
  margin: 0px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input:focus {
  border: 1px solid  #28b88d;
}

.container_input {
  padding: 12px
}